<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "jogodavelha.phonegap.app"
		versionCode="10"
		version   = "1.0.0">
		<name>Jogo da Velha</name>
		<description>Um clássico jogo da velha</description>
		<author>Jonatas Arão</author>
		<icon src="icon.png" />
		</widget>